{% extends 'base.html' %}

{% block header %}
{{ block.super }}
<a href="{% url 'event_list' %}" title='Back to list'>Back to list</a>

<h1>{{ event.name}} </h1>

{% if event.owner == user %}
<p><a href="{% url 'event_edit' pk=event.pk %}" title="Edit this event">Edit</a></p>
{% endif %}
{% endblock header %}

{% block content %}

{% if event.image %}
<img src="{{ event.image }}" title="{{ event.name }} picture"/>
{% endif %}

<h3>Hosted by {{ event.owner.first_name }} {{ event.owner.last_name }}</h3>
<p>{{ event.description }}</p>

<div>
  <strong>Starts @:</strong> <span>{{ event.starts_at }}</span>
</div>
<div>
  <strong>Ends @:</strong> <span>{{ event.ends_at }}</span>
</div>

<h3>Guest List:</h3>

{% if user_may_register %}
  <form action="{% url 'register' pk=event.pk %}" method=POST>
    {% csrf_token %}
    <input type="submit" value="Register for this Event"/>
  </form>
{% endif %}

<ul>
{% for attendee in event.attendance_set.all %}
  <li>
    {{ attendee.user.first_name }} {{ attendee.user.last_name }}
    {% if user.pk == attendee.user.pk %}
    <form action="{% url 'register' pk=event.pk %}" method=POST>
      {% csrf_token %}
      <input type="submit" value="Unregister"/>
    </form>
    {% endif %}
  </li>
{% empty %}
  <li>Nobody yet!</li>
{% endfor %}
</ul>
{% endblock content %}
